.top-header{
    background-color: #FEEE00;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}



.logo{
    /* background-color: red; */
    width: 110px;
    height: 48px;
}

.drop-down{

    display: flex;
    cursor: pointer;
    /* align-items: center; */
    /* background-color: gray; */

}
.drop-down:hover{
    transition: opacity 0.2s ease-in-out;
    opacity: 0.7;
}

.search-bar{
    background-color: green;
    flex-grow: 1;
    width: 100%;
}

.buttons{
    display: flex;
    /* width: 100%; */
    justify-content: end;
}



.buttonsUsers{
    border: none;
    border-right: 1px solid gray;
    background-color: #FEEE00;
display: flex;
    
}
.buttonsUsers2{
    border: none;
    /* border-right: 1px solid black; */
    background-color: #FEEE00;
display: flex;
    
}

.signin :hover{
    transition: opacity 0.2s ease-in-out;
    opacity: 0.7;

}

.signup :hover{
    transition: opacity 0.2s ease-in-out;

    opacity: 0.7;
}

.res{
    display: none !important;
}
@media (min-width:705px) {
    .res{
        display: block !important ;
    }
    
}



